@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

hmtl, main {
    width: 100%;
}

body {
    background-image: url('imagens/fundo.jpg');
    background-repeat: no-repeat;
}

main {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.532);
    border-radius: 10px;
    padding: 10px;
    margin: 5px auto;
}

main h1 {
    text-align: center;
}

main p {
    margin-bottom: 20px;
    text-align: justify;
}

main p a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

img.imagem_de_perfil {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: block;
    margin: 30px auto;
}

p.descricao_das_imagens {
    font-style: italic;
    margin-bottom: 0px;
}

p.descricao_das_imagens::before{
    content: '\2B07 \00A0'
}

p.descricao_das_imagens::after{
    content: '\00A0 \2B07'
}

div.caixa_de_imagens {
    height: 200px;
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    padding: 5px;
    margin-top: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    width: 100%;
    margin: 20px auto 0px auto;
    padding: 5px 10px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    background-color: white;
    color: black;
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    body {
        background-image: url('imagens/gojo.png');
        background-repeat: no-repeat;
    }

    div.caixa_de_imagens {
        height: 250px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {

    main {
        max-width: 1000px;
    }

    div.caixa_de_imagens {
        height: 310px;
    }
}

@media screen and (min-width: 1200px) {

    main {
        max-width: 1200px;
    }

    div.caixa_de_imagens {
        height: 310px;
    }
}